
        body {
            margin: 5px;
            padding: 5px;
        }
        
        nav ul {
            list-style: none;
            background-color: #342d27;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
        }
        
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        
        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        
        nav ul li a:hover {
            color: #efb810;
            text-shadow: 0 0 5px rgba(66, 54, 0, 0.8);
        }
        
        footer {
            text-align: center;
            padding: 15px 0;
            background-color: #342d27;
            color: white;
            margin-top: 20px;
            border-radius: 0 0 10px 10px;
        }
        
        .container {
            display: flex;
            align-items: center;

        }
        
        .container img {
            margin-right: 10px;
        }
        
        .arial {
            font-family: 'Arial', Helvetica, sans-serif;
        }
